/* .themify_builder_125_row.module_row_0 Style */
.themify_builder_125_row.module_row_0.module_row {
	background-image: url(../2017/09/cropped-IMG_20161208_132205964_lzn.jpg-Optimized.jpg);
	text-align: center;
	
	color: rgba(255,255,255, 1.00);
	padding-top : 100px;
	padding-bottom : 100px
}
.themify_builder_125_row.module_row_0.module_row h1 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_125_row.module_row_0.module_row h2 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_125_row.module_row_0.module_row h3:not(.module-title) {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_125_row.module_row_0.module_row h4 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_125_row.module_row_0.module_row h5 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_125_row.module_row_0.module_row h6 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_125_row.module_row_0.module_row>.builder_row_cover {
	background:radial-gradient( ellipse, rgba(212, 55, 55, 0.66) 0%, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0.19) 59% )
}
.themify_builder_125_row.module_row_0.module_row> div > .builder_row_cover {
	background:radial-gradient( ellipse, rgba(212, 55, 55, 0.66) 0%, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0.19) 59% )
}

/* .module_row_0 .module_column_0.tb_125_column Style */
.module_row_0 .module_column_0.tb_125_column.module_column {
	font-family: Arial, Helvetica, sans-serif
}
.module_row_0 .module_column_0.tb_125_column.module_column h1 {
	font-family: Arial, Helvetica, sans-serif
}
.module_row_0 .module_column_0.tb_125_column.module_column h2 {
	font-family: Arial, Helvetica, sans-serif
}
.module_row_0 .module_column_0.tb_125_column.module_column h3:not(.module-title) {
	font-family: Arial, Helvetica, sans-serif
}
.module_row_0 .module_column_0.tb_125_column.module_column h4 {
	font-family: Arial, Helvetica, sans-serif
}
.module_row_0 .module_column_0.tb_125_column.module_column h5 {
	font-family: Arial, Helvetica, sans-serif
}
.module_row_0 .module_column_0.tb_125_column.module_column h6 {
	font-family: Arial, Helvetica, sans-serif
}

.themify_builder .plain-text-125-0-0-0.module-plain-text { font-family: Rock Salt; color: #ffffff; font-size: 50px; text-align: center; padding-top: 50px; padding-right: 50px; padding-bottom: 50px; padding-left: 50px;  } 
.themify_builder .plain-text-125-0-0-0.module-plain-text h1 { font-family: Rock Salt; color: #ffffff;  } 
.themify_builder .plain-text-125-0-0-0.module-plain-text h2 { font-family: Rock Salt; color: #ffffff;  } 
.themify_builder .plain-text-125-0-0-0.module-plain-text h3:not(.module-title) { font-family: Rock Salt; color: #ffffff;  } 
.themify_builder .plain-text-125-0-0-0.module-plain-text h4 { font-family: Rock Salt; color: #ffffff;  } 
.themify_builder .plain-text-125-0-0-0.module-plain-text h5 { font-family: Rock Salt; color: #ffffff;  } 
.themify_builder .plain-text-125-0-0-0.module-plain-text h6 { font-family: Rock Salt; color: #ffffff;  } 
.themify_builder .plain-text-125-0-0-1.module-plain-text { font-size: 20px; padding-left: 0px;  } 
/* .themify_builder_125_row.module_row_1 Style */
.themify_builder_125_row.module_row_1.module_row {
	
	background-color: rgba(48,186,255, 1.00)
}
.themify_builder_125_row.module_row_1 a {
	text-decoration: underline
}

@media screen and (max-width: 680px) {
}
/* .module_row_1 .module_column_1.tb_125_column Style */
.module_row_1 .module_column_1.tb_125_column.module_column {
	padding-right : 5%;
	padding-left : 5%
}

@media screen and (max-width: 680px) {/* .module_row_1 .module_column_1.tb_125_column Style */
.module_row_1 .module_column_1.tb_125_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}
.module_row_1 .module_column_1.tb_125_column a {
	text-decoration: underline
}

}
.themify_builder .plain-text-125-1-1-0.module-plain-text { text-align: left;  } 
/* .themify_builder_125_row.module_row_2 Style */
.themify_builder_125_row.module_row_2.module_row {
	
	background-color: rgba(47,184,43, 1)
}
.themify_builder_125_row.module_row_2 a {
	text-decoration: underline
}

/* .module_row_2 .module_column_0.tb_125_column Style */
.module_row_2 .module_column_0.tb_125_column.module_column {
	
	background-color: rgba(47,184,43, 1);
	padding-right : 5%;
	padding-left : 5%
}

@media screen and (max-width: 680px) {/* .module_row_2 .module_column_0.tb_125_column Style */
.module_row_2 .module_column_0.tb_125_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}
.module_row_2 .module_column_0.tb_125_column a {
	text-decoration: underline
}

}
@media (min-width: 1025px) {
	.themify_builder_row.module_row_2 .module_column_0.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_2 .module_column_1.tb_125_column{ width: 50% !important; }
	
}
/* .themify_builder_125_row.module_row_3 Style */
.themify_builder_125_row.module_row_3.module_row {
	
	background-color: rgba(255,158,48, 1)
}
.themify_builder_125_row.module_row_3 a {
	text-decoration: underline
}

/* .module_row_3 .module_column_1.tb_125_column Style */
.module_row_3 .module_column_1.tb_125_column.module_column {
	padding-right : 5%;
	padding-left : 5%
}

@media screen and (max-width: 680px) {/* .module_row_3 .module_column_1.tb_125_column Style */
.module_row_3 .module_column_1.tb_125_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}
.module_row_3 .module_column_1.tb_125_column a {
	text-decoration: underline
}

}
@media (min-width: 1025px) {
	.themify_builder_row.module_row_2 .module_column_0.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_2 .module_column_1.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_3 .module_column_0.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_3 .module_column_1.tb_125_column{ width: 50% !important; }
	
}
/* .themify_builder_125_row.module_row_4 Style */
.themify_builder_125_row.module_row_4.module_row {
	
	background-color: rgba(191,160,101, 1.00)
}
.themify_builder_125_row.module_row_4 a {
	text-decoration: underline
}

/* .module_row_4 .module_column_0.tb_125_column Style */
.module_row_4 .module_column_0.tb_125_column.module_column {
	padding-right : 5%;
	padding-left : 5%
}

@media screen and (max-width: 680px) {/* .module_row_4 .module_column_0.tb_125_column Style */
.module_row_4 .module_column_0.tb_125_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}
.module_row_4 .module_column_0.tb_125_column a {
	text-decoration: underline
}

}
@media (min-width: 1025px) {
	.themify_builder_row.module_row_2 .module_column_0.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_2 .module_column_1.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_3 .module_column_0.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_3 .module_column_1.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_4 .module_column_0.tb_125_column{ width: 50% !important; }
	.themify_builder_row.module_row_4 .module_column_1.tb_125_column{ width: 50% !important; }
	
}
/* .themify_builder_125_row.module_row_5 Style */
.themify_builder_125_row.module_row_5.module_row {
	padding-top : 5%;
	padding-bottom : 3%
}

@media screen and (max-width: 680px) {/* .themify_builder_125_row.module_row_5 Style */
.themify_builder_125_row.module_row_5.module_row {
	padding-top : 60px;
	padding-bottom : 60px
}
.themify_builder_125_row.module_row_5 a {
	text-decoration: underline
}

}
/* .module_row_5 .module_column_0.tb_125_column Style */
.module_row_5 .module_column_0.tb_125_column.module_column {
	padding-bottom : 10%
}

.themify_builder .text-125-sub_row_5-0-0-0-0.module-text { color: #000000; text-align: center;  } 
.themify_builder .text-125-sub_row_5-0-0-0-0.module-text h1 { color: #000000;  } 
.themify_builder .text-125-sub_row_5-0-0-0-0.module-text h2 { color: #000000;  } 
.themify_builder .text-125-sub_row_5-0-0-0-0.module-text h3:not(.module-title) { color: #000000;  } 
.themify_builder .text-125-sub_row_5-0-0-0-0.module-text h4 { color: #000000;  } 
.themify_builder .text-125-sub_row_5-0-0-0-0.module-text h5 { color: #000000;  } 
.themify_builder .text-125-sub_row_5-0-0-0-0.module-text h6 { color: #000000;  } 
.themify_builder .icon-125-sub_row_5-0-0-0-1 div.module-icon { text-align: center;  } 
@media screen and (max-width: 680px) {.themify_builder .icon-125-sub_row_5-0-0-0-1 .module-icon { padding-bottom: 5%;  } 
}
.themify_builder .plain-text-125-sub_row_5-0-0-1-0.module-plain-text { text-align: center;  } 
/* .themify_builder_125_row.module_row_6 Style */
.themify_builder_125_row.module_row_6.module_row {
	
	background-color: rgba(242,239,239, 1)
}

